body {
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(38, 122, 145);
}

.wrapper {
    gap: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.card {
    background-color: #1abc9c;
    width: 30vw;
    height: 75vh;
    border-radius: 25px;
    border: 2px solid #ffffff;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    position: fixed;
    left: 420px;
    top:50px;
}

#frontCard {
    font-weight: 500;
}

#backCard {
    font-weight: 400;
}

.new-flashcard{
    margin: 30px auto;
    text-align: center;
    padding: 10px auto;
    position: fixed;
    bottom: 400px;
    right: 300px;
    font-size: 25px;
}
.buttons {
    margin: 30px auto;
    text-align: center;
    padding: 10px auto;
    position: fixed;
    bottom: 50px;
    left: 455px;
    gap:100px;
    /* height: 30vh;
    width: 80vh; */
}
button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #ffffff;
    margin:0 0.3em 0.3em 0 ; 
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-size: 1rem;
    color:rgb(30, 34, 32);
    background-color: #1abc9c;
    text-align:center;
    transition: all 0.2s;
}

button:hover{
    color:#000000;
    background-color:#FFFFFF;
}
@media all and (max-width:30em){
button{
    display:block;
    margin:0.4em auto;
}
}

.new-flashcard {
    color: rgb(255, 255, 255);
}