body {
    margin: auto;
    max-width: auto;
    color: #1d3557;
    font-family: 'Oswald', sans-serif;
}


/* Question 2. Add margin, padding, and borders to section tags! */
section {
    text-align: center;
    /* YOUR CODE HERE */
    margin: 0 auto;
    padding: 50px;
    
}

.header {
    padding: 40px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

.flashcard-wrapper {
    gap: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.flashcard-set {
    /* Tip: Feel free to change anything here (e.g. border, background-color, etc.). 
    Changing the padding and width might throws thiings off, but experiment with it and see what looks good. */
    border: 5px solid #000000;
    text-align: center;
    width: 250px;
    padding: 30px 20px;
    background-color: #1abc9c;
    border-radius: 15px;

    /* Tip: Add the transition attribute to make effects look smoother! 
    This means the hover effect will slowly kick in for 0.2s. */
    transition: ease-in-out 0.2s;
}

.new-set {
    /* Tip: Feel free to change anything here (e.g. border, background-color, etc.). 
    Changing the padding and width might throws thiings off, but experiment with it and see what looks good. */
    border: 5px solid #000000;
    text-align: center;
    width: 250px;
    padding: 30px 20px;
    background-color: #1abc9c;
    border-radius: 15px;

    /* Tip: Add the transition attribute to make effects look smoother! 
    This means the hover effect will slowly kick in for 0.2s. */
    transition: ease-in-out 0.2s;
}

.settings {
    /* Tip: Feel free to change anything here (e.g. border, background-color, etc.). 
    Changing the padding and width might throws thiings off, but experiment with it and see what looks good. */
    border: 5px solid #000000;
    text-align: center;
    width: 250px;
    padding: 30px 20px;
    background-color: #1abc9c;
    border-radius: 15px;

    /* Tip: Add the transition attribute to make effects look smoother! 
    This means the hover effect will slowly kick in for 0.2s. */
    transition: ease-in-out 0.2s;
}

/* Question 4b. Let's take a break! Add a hover effect to each experience-list-item div. 
Experiment with border, border-radius, background-color, or whatever you want!*/

.flashcard-set:hover {
    /* YOUR CODE HERE */
    background-color: rgb(231, 231, 231);
    border: 4px solid #1abc9c;
    color: black;
}

.new-set:hover {
    /* YOUR CODE HERE */
    background-color: rgb(231, 231, 231);
    border: 4px solid #1abc9c;
    color: black;
}

.settings:hover {
    /* YOUR CODE HERE */
    background-color: rgb(231, 231, 231);
    border: 4px solid #1abc9c;
    color: black;
}

/* Question 6. Make your link pretty! */
a {
    /* YOUR CODE HERE */
    font-weight: 100;

}

a:hover {
    /* YOUR CODE HERE */
    color: blueviolet;
    font-weight: 600;
}

a:link { 
    text-decoration: none; 
}

.link {
    color: white
}