body {
    margin: auto;
    max-width: auto;
    color: #1d3557;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    
}

section {
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    
}

.header {
    padding: 40px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

.flashcard-wrapper {
    gap: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}
.flashcard {
    gap: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-size: x-large;
    }

.flashcard-set {
    border: 4px solid #000000;
    text-align: center;
    width: 250px;
    padding: 30px 20px;
    background-color: #1abc9c;
    border-radius: 15px;
    transition: ease-in-out 0.2s;
}

.new-set {
    border: 4px solid #000000;
    text-align: center;
    width: 250px;
    padding: 30px 20px;
    background-color: #1abc9c;
    border-radius: 15px;
    transition: ease-in-out 0.2s;
}

.study {
    border: 4px solid #000000;
    text-align: center;
    width: 250px;
    padding: 30px 20px;
    background-color: #1abc9c;
    border-radius: 15px;

    transition: ease-in-out 0.2s;
}
.term {
    border: 4px solid #000000;
    text-align: center;
    width: 400px;
    height: 300px;
    padding: 30px 20px;
    background-color: #ffffff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: ease-in-out 0.2s;
    color: #000000;
    display: inline-block;
}

.definition {
    border: 4px solid #000000;
    text-align: center;
    width: 400px;
    height: 300px;
    padding: 30px 20px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #000000;
    display: none;
}
.flashcard-set:hover {
    background-color: white;
    border: 4px solid #1abc9c;
    color: black;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.new-set:hover {
    background-color: white;
    border: 4px solid #1abc9c;
    color: black;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.study:hover {
    background-color: white;
    border: 4px solid #1abc9c;
    color: black;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.term:hover {
    background-color: white;
    border: 4px solid #1abc9c;
    color: black;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.definition:hover {
    background-color: white;
    border: 4px solid #1abc9c;
    color: black;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

a {
    font-weight: 700;
}

a:hover {
    color: blueviolet;
    font-weight: 700;
}

a:link { 
    text-decoration: none; 
}

.link {
    color: white
}

h1.title a {
    color: #fff; 
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
  
.button button {
    margin: 0 10px;
}

.check-fc {
    padding: 0;
    border: none;
    background: none;
    font-size: x-large;
}

.form {
    text-align: center;
    font-family: 'Copperplate', fantasy;
    font-size: x-large;
}

.add {
    text-align: center;
    font-family: 'Copperplate', fantasy;
    font-size: x-large;
}

.save {
    text-align: center;
    font-family: 'Copperplate', fantasy;
    font-size: x-large;
    color: #1abc9c;
}

.set_name {
    text-align: center;
    font-family: 'Copperplate', fantasy;
    font-size: x-large;
}

.check {
    font-family: 'Copperplate', fantasy;
    font-size: x-large;
}

.next {
    font-family: 'Copperplate', fantasy;
    font-size: x-large;
}

.subsec {
    font-family: 'Copperplate', fantasy;
    font-size: 45px;
}

.cap {
    font-family: 'Copperplate', fantasy;
    font-size: 30px;
}


.wrapper {
    height: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.time-butts{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .time span{
    width: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
}

.time span.colon{
    width: 10px;
}

.time span.ms-colon,
.time span.millisecond{
    color: #1abc9c;
}

.buttons{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin: 0 auto;
    justify-content: center;
}

.time-butts button{
    padding: 6px 16px;
    outline: none;
    border: none;
    margin: 0 5px;
    color: #fff;
    background: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    background-color: #1abc9c;
    cursor: pointer;
}

.buttons button.active,
.buttons button.stopActive{
    pointer-events: none;
    opacity: 0.8;
}